Package: pp
Source: pp
Version: $VERSION
Architecture: all
Maintainer: Matt Carter <m@ttcarter.com>
Depends: perl (>= 5.10.0), libconfig-inifiles-perl, libnumber-bytes-human-perl
Section: utils
Priority: optional
Homepage: https://github.com/hash-bang/PP
Description: Small applet to provide access to Perl regular expressions.
